
  
  .active-link {
    text-decoration: none;
    font-size: 20px;
    transition: color ease-in-out 300ms;
    border-bottom: 3px solid limegreen;
  }
  

  .signOut-btn{
    margin-left: 20px;
    outline: none;
    border: none;
  }