.banner-img{
    width: 100%;
    height: 100vh;
    background-image: url('https://images.pexels.com/photos/4427630/pexels-photo-4427630.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.banner-img::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
}

.banner-info{
    width: 50%;
    margin: 0 auto;
    z-index: 100;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 576px) {
    
    .banner-info{
        width: 100%;
        margin: 0 auto;
        padding: 0 .5rem;
    }
}

/* @media only screen and (max-width:576px) {
} */